body{
    background-color: hsl(216, 48%, 17%);
}

.container{
    border: 1px solid hsl(215, 32%, 27%);
    background-color: hsl(215, 40%, 20%);
    margin: 7rem auto;
    max-width: 22rem;
    /* min-width: 19%; */
    height: 80vh;
    padding: .5rem .5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    /* box-shadow: 9px 9px 20px 10px hsl(216, 50%, 20%);
    box-shadow: -9px 0px 20px 10px hsl(216, 50%, 20%); */
    box-shadow: 0 0 50px -2px hsl(216, 50%, -2%);
    
}

.image-container{
    /* border: 1px solid black; */
    margin: .6rem 1rem;
    height: 34vh;
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
}
.image{
    display: inline-block;
    /* border: 1px solid black; */
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    width: 100%;
    height:100%
    
}
.horizontal-line{
    height: 1.6px;
    width: 88%;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    /* border-bottom: 0.3px solid rgba(255, 255, 255, .25); */
    margin: .6rem 1 rem;
    margin-bottom: 0px;
    padding: 0 0;
}
.avatar{
    width:1.8rem;
    display: inline-block;
    border: 1px solid hsl(0, 0%, 100%);
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.article-1{
    margin: .9rem 1rem;
    color: aliceblue;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
}
.article-2{
    color: grey;
    margin: .9rem 1rem;
    font-size: 1.1rem;
    font-family: 'Outfit', sans-serif;
}
.article-3{
    display: inline-block;
    margin:.9rem 1rem;
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 1.1rem;
    font-family:'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    font-weight: 1000;
}
.article-4{
    display: inline-block;
    margin:.9rem 1rem;
    /* border: 1px solid black; */
    min-width: 22%;
    margin-left: 1.7rem;
    font-family:'Outfit', sans-serif;
    color: grey;
}
.image-owner{
    display: inline-block;
    /* margin-bottom: 2rem; */
    margin-left: 1rem;
    font-family:'Outfit', sans-serif;
    color: grey;
    /* border: 1px solid black; */
    position: relative;
    top: -10px;
}
.white{
    color: white;
}
@media (min-width: 319px) and (max-width: 944px){

    .container{
        margin-left: .3rem .3rem;
        max-width: 20rem;
        height: 35rem;
    }

    .article-3{
        width: 32%;
        font-weight: 900;
    }
    .article-4{
        width: 30%;
    }
    .horizontal-line{
        height: 1.6px;
        width: 88%;
        border: none;
        background-color: rgba(255, 255, 255, .2);
        /* border-bottom: 0.3px solid rgba(255, 255, 255, .25); */
        margin: .6rem 1 rem;
        margin-bottom: 0px;
        padding: 0 0;
    }
}